USE [QuanLyThuNo_K235480106001]
GO
/****** Object:  UserDefinedFunction [dbo].[FnTinhTienHopDong]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnTinhTienHopDong] (
    @MaHopDong INT,
    @NgayTinhToan DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @SoTienVayGoc DECIMAL(18,2);
    DECLARE @NgayLapHopDong DATE;
    DECLARE @HanChotMot DATE;
    
    -- Lấy thông tin gốc của hợp đồng
    SELECT 
        @SoTienVayGoc = SoTienVayGoc, 
        @NgayLapHopDong = CAST(NgayLapHopDong AS DATE), 
        @HanChotMot = HanChotMot
    FROM HopDong 
    WHERE MaHopDong = @MaHopDong;

    -- ==========================================
    -- BƯỚC 1: TÍNH TỔNG TIỀN LÃI (Chưa trừ trả góp)
    -- Lãi suất 5000đ/1 triệu/ngày = 0.5% = 0.005
    -- ==========================================
    DECLARE @TongLai DECIMAL(18,2) = 0;
    DECLARE @LaiSuatNgay FLOAT = 0.005; 
    
    IF @NgayTinhToan <= @HanChotMot
    BEGIN
        -- ÁP DỤNG LÃI ĐƠN
        DECLARE @SoNgay INT = DATEDIFF(DAY, @NgayLapHopDong, @NgayTinhToan);
        IF @SoNgay = 0 SET @SoNgay = 1; -- Cầm và chuộc trong ngày vẫn tính 1 ngày lãi
        
        SET @TongLai = @SoTienVayGoc * @LaiSuatNgay * @SoNgay;
    END
    ELSE
    BEGIN
        -- ÁP DỤNG LÃI KÉP (Vì đã quá HanChotMot)
        -- A. Tính Lãi đơn tích lũy cho đến HanChotMot
        DECLARE @SoNgayDon INT = DATEDIFF(DAY, @NgayLapHopDong, @HanChotMot);
        IF @SoNgayDon = 0 SET @SoNgayDon = 1;
        DECLARE @LaiDonTichLuy DECIMAL(18,2) = @SoTienVayGoc * @LaiSuatNgay * @SoNgayDon;
        
        -- B. Gộp (Gốc cũ + Lãi đơn) thành Gốc mới
        DECLARE @GocMoi DECIMAL(18,2) = @SoTienVayGoc + @LaiDonTichLuy;
        
        -- C. Tính Lãi kép bằng hàm lũy thừa: GốcMới * (1 + LãiSuất)^SốNgày
        DECLARE @SoNgayKep INT = DATEDIFF(DAY, @HanChotMot, @NgayTinhToan);
        DECLARE @TongTienSauLaiKep DECIMAL(18,2) = @GocMoi * POWER(1.0 + @LaiSuatNgay, @SoNgayKep);
        
        -- D. Tính ra số tiền Lãi thuần túy
        SET @TongLai = @TongTienSauLaiKep - @SoTienVayGoc;
    END

    -- ==========================================
    -- BƯỚC 2: TRỪ ĐI SỐ TIỀN KHÁCH ĐÃ TRẢ GÓP (NẾU CÓ)
    -- ==========================================
    DECLARE @TongTienDaTra DECIMAL(18,2) = 0;
    
    SELECT @TongTienDaTra = ISNULL(SUM(SoTienTra), 0) 
    FROM NhatKyGiaoDich 
    WHERE MaHopDong = @MaHopDong 
      AND CAST(NgayGiaoDich AS DATE) <= @NgayTinhToan;

    -- Logic: Trừ tiền trả góp vào Lãi trước, thừa mới đập vào Gốc
    DECLARE @LaiConLai DECIMAL(18,2) = @TongLai - @TongTienDaTra;
    DECLARE @GocConLai DECIMAL(18,2) = @SoTienVayGoc;

    IF @LaiConLai < 0
    BEGIN
        -- Khách trả dư tiền lãi, phần dư (mang dấu âm) sẽ gộp vào làm giảm Gốc
        SET @GocConLai = @SoTienVayGoc + @LaiConLai; 
        SET @LaiConLai = 0;
    END
    
    IF @GocConLai < 0 SET @GocConLai = 0;

    -- ==========================================
    -- BƯỚC 3: TRẢ VỀ TỔNG CÔNG NỢ (GỐC + LÃI)
    -- ==========================================
    RETURN @GocConLai + @LaiConLai;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FnTinhTongNoKhachHang]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnTinhTongNoKhachHang] (
    @MaKhachHang INT,
    @NgayTinhToan DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TongNợKhachHang DECIMAL(18,2) = 0;

    -- Quét tất cả hợp đồng chưa thanh toán xong của khách, gọi hàm 1 để cộng dồn
    SELECT @TongNợKhachHang = ISNULL(SUM(dbo.FnTinhTienHopDong(MaHopDong, @NgayTinhToan)), 0)
    FROM HopDong
    WHERE MaKhachHang = @MaKhachHang 
      AND TrangThaiHopDong IN (N'Đang vay', N'Quá hạn (nợ xấu)', N'Đang trả góp');

    RETURN @TongNợKhachHang;
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayLapHopDong] [datetime] NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[HanChotMot] [date] NOT NULL,
	[HanChotHai] [date] NOT NULL,
	[TrangThaiHopDong] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[SoCanCuocCongDan] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyGiaoDich]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyGiaoDich](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[NguoiThuTien] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTaiSan] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TrangThaiTaiSan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [NgayLapHopDong], [SoTienVayGoc], [HanChotMot], [HanChotHai], [TrangThaiHopDong]) VALUES (1, 1, CAST(N'2026-05-09T22:50:52.787' AS DateTime), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Đang trả góp')
INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [NgayLapHopDong], [SoTienVayGoc], [HanChotMot], [HanChotHai], [TrangThaiHopDong]) VALUES (2, 2, CAST(N'2026-02-01T00:00:00.000' AS DateTime), CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [SoCanCuocCongDan], [DiaChi]) VALUES (1, N'Nguyễn Văn A', N'0901234567', N'001200300400', N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [SoCanCuocCongDan], [DiaChi]) VALUES (2, N'Trần Văn Bùng', N'0988111222', N'031099002233', N'Hải Phòng')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyGiaoDich] ON 

INSERT [dbo].[NhatKyGiaoDich] ([MaNhatKy], [MaHopDong], [NgayGiaoDich], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-10T23:50:16.870' AS DateTime), CAST(5000000.00 AS Decimal(18, 2)), N'NV_NguyenVanB', N'Khách trả tiền mặt')
INSERT [dbo].[NhatKyGiaoDich] ([MaNhatKy], [MaHopDong], [NgayGiaoDich], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (2, 1, CAST(N'2026-05-10T08:00:00.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), N'NV_Lan', N'Khách trả bớt tiền lãi')
INSERT [dbo].[NhatKyGiaoDich] ([MaNhatKy], [MaHopDong], [NgayGiaoDich], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (3, 1, CAST(N'2026-05-12T14:30:00.000' AS DateTime), CAST(2000000.00 AS Decimal(18, 2)), N'NV_Lan', N'Khách trả thêm tiền gốc')
SET IDENTITY_INSERT [dbo].[NhatKyGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTaiSan]) VALUES (1, 1, N'Laptop Dell XPS 15', CAST(10000000.00 AS Decimal(18, 2)), N'Đã trả khách')
INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTaiSan]) VALUES (2, 1, N'iPhone 14 Pro Max', CAST(8000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTaiSan]) VALUES (3, 2, N'Xe máy Honda SH 150i', CAST(40000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__B838F6B50A8CB36D]    Script Date: 5/11/2026 10:06:58 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoCanCuocCongDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLapHopDong]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThaiHopDong]
GO
ALTER TABLE [dbo].[NhatKyGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTaiSan]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [KhoaNgoai_HopDong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [KhoaNgoai_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[NhatKyGiaoDich]  WITH CHECK ADD  CONSTRAINT [KhoaNgoai_NhatKyGiaoDich_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[NhatKyGiaoDich] CHECK CONSTRAINT [KhoaNgoai_NhatKyGiaoDich_HopDong]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [KhoaNgoai_TaiSan_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [KhoaNgoai_TaiSan_HopDong]
GO
/****** Object:  StoredProcedure [dbo].[SpDangKyHopDongMoi]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpDangKyHopDongMoi]
    -- Thông tin khách hàng
    @HoTen NVARCHAR(100),
    @SoCanCuocCongDan VARCHAR(20),
    @SoDienThoai VARCHAR(15),
    @DiaChi NVARCHAR(255),
    
    -- Thông tin hợp đồng
    @SoTienVayGoc DECIMAL(18, 2),
    @HanChotMot DATE,
    @HanChotHai DATE,
    
    -- Danh sách tài sản (Truyền vào dưới dạng chuỗi JSON)
    @DanhSachTaiSanJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Bắt đầu một giao dịch (Đảm bảo tính toàn vẹn dữ liệu)
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- ==============================================================
        -- BƯỚC 1: XỬ LÝ THÔNG TIN KHÁCH HÀNG
        -- ==============================================================
        DECLARE @MaKhachHangHienTai INT;
        
        -- Kiểm tra xem khách hàng đã tồn tại trong hệ thống chưa (dựa vào CCCD)
        SELECT @MaKhachHangHienTai = MaKhachHang 
        FROM KhachHang 
        WHERE SoCanCuocCongDan = @SoCanCuocCongDan;
        
        -- Nếu chưa tồn tại -> Thêm khách hàng mới
        IF @MaKhachHangHienTai IS NULL
        BEGIN
            INSERT INTO KhachHang (HoTen, SoCanCuocCongDan, SoDienThoai, DiaChi)
            VALUES (@HoTen, @SoCanCuocCongDan, @SoDienThoai, @DiaChi);
            
            -- Lấy ID khách hàng vừa được sinh ra
            SET @MaKhachHangHienTai = SCOPE_IDENTITY();
        END
        
        -- ==============================================================
        -- BƯỚC 2: TẠO HỢP ĐỒNG VAY TIỀN
        -- ==============================================================
        DECLARE @MaHopDongMoi INT;
        
        INSERT INTO HopDong (MaKhachHang, NgayLapHopDong, SoTienVayGoc, HanChotMot, HanChotHai, TrangThaiHopDong)
        VALUES (@MaKhachHangHienTai, GETDATE(), @SoTienVayGoc, @HanChotMot, @HanChotHai, N'Đang vay');
        
        -- Lấy ID hợp đồng vừa sinh ra
        SET @MaHopDongMoi = SCOPE_IDENTITY();
        
        -- ==============================================================
        -- BƯỚC 3: XỬ LÝ DANH SÁCH TÀI SẢN (Phân tích cú pháp JSON)
        -- ==============================================================
        -- Sử dụng OPENJSON để đọc mảng tài sản truyền vào và insert vào bảng
        INSERT INTO TaiSan (MaHopDong, TenTaiSan, GiaTriDinhGia, TrangThaiTaiSan)
        SELECT 
            @MaHopDongMoi,
            JSON_VALUE(value, '$.TenTaiSan'),
            CAST(JSON_VALUE(value, '$.GiaTriDinhGia') AS DECIMAL(18,2)),
            N'Đang cầm cố'
        FROM OPENJSON(@DanhSachTaiSanJson);
        
        -- Nếu tất cả các bước đều thành công thì lưu dữ liệu vật lý
        COMMIT TRANSACTION;
        PRINT N'>> Tạo hợp đồng và lưu danh sách tài sản thành công!';
        
    END TRY
    BEGIN CATCH
        -- Nếu có bất kỳ lỗi nào xảy ra ở 3 bước trên, quay lui (Rollback) toàn bộ
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;
            
        -- Hiển thị thông báo lỗi hệ thống
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpDanhSachNoXau]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpDanhSachNoXau]
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT N'=== BÁO CÁO DANH SÁCH NỢ XẤU TÍNH ĐẾN HÔM NAY (' + CAST(GETDATE() AS NVARCHAR(20)) + N') ===';

    SELECT 
        KH.MaKhachHang,
        KH.HoTen AS TenKhachHang,
        KH.SoDienThoai,
        KH.SoCanCuocCongDan, -- Đã sửa từ CCCD sang đúng tên trường của bạn
        HD.MaHopDong,
        HD.NgayLapHopDong,   -- Đã sửa từ NgayVay sang đúng tên trường của bạn
        HD.HanChotHai AS NgayHetHanCuoiCung,
        
        -- Tính số ngày đã quá hạn so với hôm nay
        DATEDIFF(DAY, HD.HanChotHai, GETDATE()) AS SoNgayQuaHan,
        
        -- Gọi Function tính nợ, tính đến thời điểm hiện tại
        dbo.FnTinhTienHopDong(HD.MaHopDong, GETDATE()) AS TongNoPhaiThu,
        
        -- Tính tổng giá trị các món đồ CÒN TRONG KHO
        (SELECT ISNULL(SUM(GiaTriDinhGia), 0) 
         FROM TaiSan 
         WHERE MaHopDong = HD.MaHopDong AND TrangThaiTaiSan = N'Đang cầm cố') AS TongGiaTriDoTrongKho,
         
        -- Đánh giá rủi ro dựa trên giá trị tài sản còn lại
        CASE 
            WHEN (SELECT ISNULL(SUM(GiaTriDinhGia), 0) FROM TaiSan WHERE MaHopDong = HD.MaHopDong AND TrangThaiTaiSan = N'Đang cầm cố') >= dbo.FnTinhTienHopDong(HD.MaHopDong, GETDATE())
            THEN N'🟢 An toàn (Đủ đồ thanh lý)'
            ELSE N'🔴 Nguy hiểm (Nợ vượt giá trị đồ)'
        END AS DanhGiaRuiRo

    FROM HopDong HD
    JOIN KhachHang KH ON HD.MaKhachHang = KH.MaKhachHang
    WHERE 
        -- Điều kiện nợ xấu: Đã quá Hạn Chót 2
        HD.HanChotHai < GETDATE() 
        -- Và hợp đồng vẫn đang trong quá trình thực hiện, chưa kết thúc
        AND HD.TrangThaiHopDong NOT IN (N'Đã thanh toán', N'Đã thanh toán đủ', N'Đã bán thanh lý');
END;
GO
/****** Object:  StoredProcedure [dbo].[SpGiaHanHopDong]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpGiaHanHopDong]
    @MaHopDong INT,
    @NguoiThuTien NVARCHAR(100),
    @SoNgayGiaHan INT = 30 -- Mặc định gia hạn thêm 1 tháng
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Tính toán số tiền lãi phải trả để được gia hạn
    DECLARE @TongNoHienTai DECIMAL(18,2) = dbo.FnTinhTienHopDong(@MaHopDong, GETDATE());
    DECLARE @GocBanDau DECIMAL(18,2);
    SELECT @GocBanDau = SoTienVayGoc FROM HopDong WHERE MaHopDong = @MaHopDong;
    
    DECLARE @TienLaiPhaiTra DECIMAL(18,2) = @TongNoHienTai - @GocBanDau;

    -- 2. Kiểm tra nếu khách không nợ lãi (chưa đến kỳ lãi) thì vẫn cho dời Deadline
    IF @TienLaiPhaiTra < 0 SET @TienLaiPhaiTra = 0;

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 3. Ghi nhận giao dịch trả lãi vào Nhật ký (Audit Log)
        INSERT INTO NhatKyGiaoDich (MaHopDong, NgayGiaoDich, SoTienTra, NguoiThuTien, GhiChu)
        VALUES (@MaHopDong, GETDATE(), @TienLaiPhaiTra, @NguoiThuTien, 
                N'Gia hạn hợp đồng - Thu phí lãi cũ: ' + CAST(@TienLaiPhaiTra AS NVARCHAR(20)));

        -- 4. Cập nhật Hợp đồng: Reset ngày bắt đầu và dời Deadline
        UPDATE HopDong
        SET NgayLapHopDong = GETDATE(), -- Reset ngày để tính lãi mới từ hôm nay (tránh lãi kép)
            HanChotMot = DATEADD(DAY, @SoNgayGiaHan, GETDATE()),
            HanChotHai = DATEADD(DAY, @SoNgayGiaHan * 2, GETDATE()),
            TrangThaiHopDong = N'Đang cầm cố' -- Đưa về trạng thái bình thường nếu đang nợ xấu
        WHERE MaHopDong = @MaHopDong;

        COMMIT TRANSACTION;
        PRINT N' Gia hạn thành công! Hạn chót mới đã được cập nhật.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N' Lỗi gia hạn: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpXuLyTraNo]    Script Date: 5/11/2026 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpXuLyTraNo]
    @MaHopDong INT,
    @SoTienTra DECIMAL(18,2),
    @NguoiThuTien NVARCHAR(50),
    @MaTaiSanMuonRut INT = NULL -- Nếu khách chỉ đóng lãi, không rút đồ thì để trống (NULL)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. CHẶN GIAO DỊCH NẾU ĐỒ ĐÃ BỊ THANH LÝ
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHopDong = @MaHopDong AND TrangThaiTaiSan = N'Đã bán thanh lý')
    BEGIN
        PRINT N'⛔ TỪ CHỐI GIAO DỊCH: Tài sản đã bị mang đi thanh lý, không thể thu tiền hay trả đồ!';
        RETURN;
    END

    -- 2. TÍNH TỔNG NỢ & LƯU NHẬT KÝ
    -- Gọi lại hàm ở EV2 để xem tổng nợ đến hôm nay là bao nhiêu
    DECLARE @TongNoHienTai DECIMAL(18,2) = dbo.FnTinhTienHopDong(@MaHopDong, GETDATE());
    
    -- Ghi nhận lịch sử dòng tiền vào Log
    INSERT INTO NhatKyGiaoDich (MaHopDong, NgayGiaoDich, SoTienTra, NguoiThuTien, GhiChu)
    VALUES (@MaHopDong, GETDATE(), @SoTienTra, @NguoiThuTien, N'Khách trả tiền mặt');

    -- 3. CẬP NHẬT TRẠNG THÁI HỢP ĐỒNG
    DECLARE @DuNoConLai DECIMAL(18,2) = @TongNoHienTai - @SoTienTra;
    
    IF @DuNoConLai <= 0 
    BEGIN
        -- TRẢ HẾT NỢ: Cập nhật hợp đồng và xuất toàn bộ đồ
        SET @DuNoConLai = 0;
        UPDATE HopDong SET TrangThaiHopDong = N'Đã thanh toán đủ' WHERE MaHopDong = @MaHopDong;
        UPDATE TaiSan SET TrangThaiTaiSan = N'Đã trả khách' WHERE MaHopDong = @MaHopDong AND TrangThaiTaiSan = N'Đang cầm cố';
        PRINT N'✅ Khách đã trả DỨT ĐIỂM nợ. Hệ thống đã xuất toàn bộ tài sản!';
    END
    ELSE
    BEGIN
        -- TRẢ GÓP: Cập nhật trạng thái đang trả góp
        UPDATE HopDong SET TrangThaiHopDong = N'Đang trả góp' WHERE MaHopDong = @MaHopDong;
        PRINT N'⚠️ Khách đang trả góp. Dư nợ gốc + lãi còn lại: ' + CAST(@DuNoConLai AS NVARCHAR(50));
        
        -- 4. XỬ LÝ YÊU CẦU RÚT TÀI SẢN (NẾU CÓ)
        IF @MaTaiSanMuonRut IS NOT NULL
        BEGIN
            -- Tính tổng giá trị các tài sản CÒN LẠI trong kho (không tính món khách đang muốn rút)
            DECLARE @GiaTriKhoConLai DECIMAL(18,2) = 0;
            SELECT @GiaTriKhoConLai = ISNULL(SUM(GiaTriDinhGia), 0)
            FROM TaiSan
            WHERE MaHopDong = @MaHopDong AND TrangThaiTaiSan = N'Đang cầm cố' AND MaTaiSan != @MaTaiSanMuonRut;

            -- Kểm tra điều kiện: Giá trị kho còn lại phải >= Dư nợ còn lại
            IF @GiaTriKhoConLai >= @DuNoConLai
            BEGIN
                UPDATE TaiSan SET TrangThaiTaiSan = N'Đã trả khách' WHERE MaTaiSan = @MaTaiSanMuonRut;
                PRINT N'✅ ĐỦ ĐIỀU KIỆN RÚT ĐỒ! Giá trị các món còn lại trong kho đảm bảo an toàn cho khoản nợ.';
            END
            ELSE
            BEGIN
                PRINT N'⛔ TỪ CHỐI RÚT ĐỒ! Giá trị các món còn lại trong kho nhỏ hơn số nợ hiện tại, có rủi ro mất vốn.';
            END
        END
    END
END;
GO
